<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @team.university %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
