<div class="outer-box">

    <div class="container-fluid inner-box">
    <div class="spacer-big"></div>

    <div class="hidden-xs col-sm-3 no-gutter players">
        <div class="spacer"></div>
        <h5 class="best-players">Jogadores da rodada</h5>

      <% @players.each do |player| %>

          <div class="player">
            <div><%= player["Name"] %> </div>
            <div>Time: <%= player["team"] %></div>
            <div>Posição: <%= player["Position"] %></div>
            <div>Runs: <%= player["runs"] %></div>
            <div>Home Runs: <%= player["home_run"] %></div>

          </div>
          <div class="spacer"></div>
        <% end %>

    </div>

    <div class="col-xs-12 col-sm-9 no-gutter">

      <div class="players col-md-12">
        <div class="spacer"></div>
        <h5 class="best-players">Jogos da rodada</h5>

        <% @games.each do |game| %>
          <div class="player container">
            <div class="container">

              <div class="col-sm-2"><%= game["stadium"] %>
              </div>

              <div class="col-sm-2"><%= game["home_team"] %> </div>
              <div class="col-sm-2"> |</div>
              <div class="col-sm-2"><%= game["visiting_team"] %></div>
              <div class="col-sm-4"></div>
            </div>
            <div class="container">
              <div class="col-sm-2"><%= game["game_date"] %></div>
              <div class="col-sm-2"><%= game["home_score"] %> </div>
              <div class="col-sm-2"> |</div>
              <div class="offset-col-sm-2"></div>
              <div class="col-sm-2"><%= game["visiting_score"] %></div>
              <div class="col-sm-4"></div>

            </div>
            <div class="spacer"></div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>