<div class="outer-box">

  <div class="container-fluid inner-box">
    <div class="spacer-big"></div>

    <div class="hidden-xs col-sm-12 no-gutter players">
      <div class="spacer"></div>
      <h5 class="best-players">Jogadores da rodada</h5>
      <div class="container">
        <div class="col-sm-2">Nome</div>
        <div class="col-sm-2">Time</div>
        <div class="col-sm-2">Posição</div>
        <div class="col-sm-1">Hits</div>
        <div class="col-sm-1">Runs</div>
        <div class="col-sm-1">At Bats</div>
        <div class="col-sm-1">RBI</div>
        <div class="col-sm-2">Home Runs</div>

      </div>
      <% @players.each do |player| %>

        <div class="player container">

          <div class="col-sm-2"><%= player["Name"] %> </div>
          <div class="col-sm-2"><%= player["team"] %></div>
          <div class="col-sm-2"> <%= player["Position"] %></div>
          <div class="col-sm-1"><%= player["hits"] %></div>
          <div class="col-sm-1"><%= player["runs"] %></div>
          <div class="col-sm-1"><%= player["at_bats"] %></div>
          <div class="col-sm-1"><%= player["rbi"] %></div>
          <div class="col-sm-2"><%= player["home_run"] %></div>

        </div>
        <div class="spacer"></div>
      <% end %>

    </div>


  </div>
  </div>
</div>