<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home_id %>
    <%= f.number_field :home_id %>
  </div>

  <div class="field">
    <%= f.label :visitor_id %>
    <%= f.number_field :visitor_id %>
  </div>

  <div class="field">
    <%= f.label :stadium_id %>
    <%= f.number_field :stadium_id %>
  </div>

  <div class="field">
    <%= f.label :round_id %>
    <%= f.number_field :round_id %>
  </div>

  <div class="field">
    <%= f.label :home_score %>
    <%= f.number_field :home_score %>
  </div>

  <div class="field">
    <%= f.label :visiting_score %>
    <%= f.number_field :visiting_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
