<p id="notice"><%= notice %></p>

<p>
  <strong>Home:</strong>
  <%= @game.home_id %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @game.visitor_id %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @game.stadium_id %>
</p>

<p>
  <strong>Round:</strong>
  <%= @game.round_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Visiting score:</strong>
  <%= @game.visiting_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
