<div class="outer-box">
  <div class="container-fluid inner-box">
    <div class="spacer-big"></div>
    <div class="hidden-xs col-sm-2"></div>

    <div class="col-sm-8 no-gutter players container">
      <div class="spacer"></div>
      <h5 class="best-players">Jogadores da rodada</h5>
      <%= form_tag 'add_players', method: 'get' do %>
        <div>Time da
          Casa<%= select_tag "team_1", options_for_select(@team_1.map {|team| [team.name, team.id]}, selected: params["team_id"]) %>
        </div>
        <div>Time
          Visitante<%= select_tag "team_2", options_for_select(@team_2.map {|team| [team.name, team.id]}, selected: params["team_id"]) %>
        </div>
        <div>Local <%= select_tag "stadium_id", options_for_select(@stadium.map {|stadium| [stadium.university, stadium.id]}, selected: params["stadium_id"]) %>

        </div>
        <div>Data<%= select_datetime(date = Date.current, options = {}, html_options = {}) %></div>

        <%= submit_tag "Submit" %>
      <% end %>


    </div>
    <div class="hidden-xs col-sm-2"></div>

  </div>
</div>





