<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Position %><br>
    <%= f.select :Position, [['1st Base', '1B'],['2nd Base','2B'], ['3rd Base', '3B'], ['Shortstop', 'SS'], ['Pitcher', 'P'], ['Right Field', 'RF'], ['Center Field', 'CF'], ['Left Field', 'LF']] %>

  </div>

  <div class="field">
    <%= f.label :team_id %><br/>
    <%= f.select :team_id, Team.all.order(:name).collect {|s| [(s.name), s.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
