<%= form_for(cartola) do |f| %>
  <% if cartola.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartola.errors.count, "error") %> prohibited this cartola from being saved:</h2>

      <ul>
      <% cartola.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :arremessador_id %>
    <%= f.text_field :arremessador_id %>
  </div>

  <div class="field">
    <%= f.label :player_1_id %>
    <%= f.number_field :player_1_id %>
  </div>

  <div class="field">
    <%= f.label :player_2_id %>
    <%= f.number_field :player_2_id %>
  </div>

  <div class="field">
    <%= f.label :player_3_id %>
    <%= f.number_field :player_3_id %>
  </div>

  <div class="field">
    <%= f.label :player_4_id %>
    <%= f.number_field :player_4_id %>
  </div>

  <div class="field">
    <%= f.label :player_5_id %>
    <%= f.number_field :player_5_id %>
  </div>

  <div class="field">
    <%= f.label :player_6_id %>
    <%= f.number_field :player_6_id %>
  </div>

  <div class="field">
    <%= f.label :player_7_id %>
    <%= f.number_field :player_7_id %>
  </div>

  <div class="field">
    <%= f.label :player_8_id %>
    <%= f.number_field :player_8_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
