<p id="notice"><%= notice %></p>

<h1>Cartolas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Usuario</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartolas.each do |cartola| %>
      <tr>
        <td><%= cartola.nome %></td>
        <td><%= link_to 'Show', cartola %></td>
        <td><%= link_to 'Edit', edit_cartola_path(cartola) %></td>
        <td><%= link_to 'Destroy', cartola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartola', new_cartola_path %>
