<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cartola.nome %>
</p>

<p>
  <strong>Arremessador:</strong>
  <%= @cartola.arremessador_id %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @cartola.player_1_id %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @cartola.player_2_id %>
</p>

<p>
  <strong>Player 3:</strong>
  <%= @cartola.player_3_id %>
</p>

<p>
  <strong>Player 4:</strong>
  <%= @cartola.player_4_id %>
</p>

<p>
  <strong>Player 5:</strong>
  <%= @cartola.player_5_id %>
</p>

<p>
  <strong>Player 6:</strong>
  <%= @cartola.player_6_id %>
</p>

<p>
  <strong>Player 7:</strong>
  <%= @cartola.player_7_id %>
</p>

<p>
  <strong>Player 8:</strong>
  <%= @cartola.player_8_id %>
</p>

<%= link_to 'Edit', edit_cartola_path(@cartola) %> |
<%= link_to 'Back', cartolas_path %>
